.header{
    color: #003663;
    text-align: center;
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 150%;
    padding: 10px;
    background-color:  #90a0ac;
    margin: 10px;
}

body{
    background-color: #dddddd;
}

#workout-form{
    border: solid #003663;
    color: #003663;
    padding: 5px;
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 150%;
    text-align: center;
    height: 200px;
    width: 300px;
    margin: 0 auto;
    border-radius: 7px;
}
button{
    color: #003663;
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 100%;
    margin: 5px;
}
#workouts-container{
    width: 80%; 
    height: 600px;
    margin: 0 auto; 
    padding: 20px; 
    border-radius: 7px; 
}

.progress-bar {
    background-color: green;
    height: 10px;
    margin-top: 5px;
    width: 50%; 
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); 
}

#section{
    border: solid #003663; 
    border-radius: 7px;
    color: #003663;
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 100%;
}

footer{
    background-color:  #90a0ac;
    color: #003663;
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 150%;
    text-align: center;
}

label {
    display: inline-block;
    width: 110px; 
    text-align: right;
}
